//@import " ~ slick-carousel/slick/slick.css";
//@import " ~ slick-carousel/slick/slick-theme.css";


$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width:100%;
}
* {
  margin: 0;
  padding:0;
}
body.light {
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #66578d;
  --background: #0A041A;
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: #181326;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  border-top: 10px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
  width: 100%;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  box-sizing: border-box;
  padding:0 20px;
  width:100%;
  align-items: center;
  max-width: 1140px;
  position: relative;
  margin:0 auto;
  img {
    max-width: 100%;
  }
}
main{
  box-sizing: border-box;
  display:grid;
  column-gap: 15px;
  row-gap: 20px;
  grid-template-columns: auto;
  .section-a{
    padding:0 2px  0 2px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
  }
  .section-b{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    width: 100%;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
  }
}
.logo{
  width: auto;
  height: 60px;
  margin: auto 24px;
  align-items: center;
  background:none;
  justify-content: center;
  z-index: 110;
  svg{
    width: auto;
    height: 60px;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    margin:auto;
    &:hover {
      width:auto;
      height: 62;
      cursor: pointer;

    }
  }
  
}
.navigation{
  position:fixed;
  margin:auto;
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  height: 64px;
  width:100%;
  display: flex;
  z-index:10000;
  justify-content: space-between;
  font-weight:600;
  align-items:center;
  top:0;
  left:0;
  &:first-child {
    margin-left:auto;
  }
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    margin-left: auto;
    &[aria-current] {
      color: var(--secondary-color);
      font-weight: 500;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-left:auto;
    }
  }
}
.right-nav{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  li {
    padding: 18px 10px;
    color: #888;
    text-decoration: none;
    margin: 0 4px 0;
    align-items:center;
    justify-content:center;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 400;
      font-size:1.3rem;
    }
    &:hover {
      color: var(--primary-color);
    }

  }

}

.hero-header {
   background:url("../../static/assets/header.webp");
   text-align: center;
   min-height: 350px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 18px;
   margin-bottom: 20px;
   margin-top: 60px;
   color: var(--featured-text);
   display: grid;
   align-content: center;
   position: relative;
   padding: 4px;
   overflow: hidden; 
   z-index:-10;
}
.about-content-main{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3a5764;
  mix-blend-mode: overlay;
  border-radius: 15px;
}

.headline {
  padding:0 auto;
  font-size: 36px;
  font-weight: 900;
  margin:auto ;
  justify-content: center;
  align-items: center;
  display:flex;
  flex-wrap:wrap;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 1.8rem;
  margin-bottom:10px;
  overflow:hidden;
  font-weight: 600;
  padding:10px;
  justify-content: center;
}
.miniContent{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    margin-left: auto;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 500;
    }
    &:hover {
      color: var(--primary-color);
    }

  }
  div{
    width:30%;
    min-width: 200px;
    margin: 10px 10px ;
  }
  .button-link{
    width:100%;
    height:auto;
    padding:10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 22px -10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 22px -10px rgba(0,0,0,0);
    margin-bottom: 15px;
  }
}
.menu ul{
  display:flex;
  align-items: center;
  list-style: none;
}
.menu ul li{
  padding-left: 30px;
}
.all-about-bmws{
  height:auto;
  margin-top:30px;
  font-weight: 900;
  align-items: center;
  background: rgb(132, 92, 241);
  padding-left: 10%;
}
.post {
  padding: 0 10px;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  margin-top: 60px;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}
.card {
  display: grid;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bdr);
  box-shadow: 0 0 30px var(--card-shadow);
  overflow: hidden;
  line-height: 1.5;
  &:hover .post-link {
    color: var(--primary-color);
  }
  > a img {
    display: block;
  }
  > header {
    padding: 24px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}

.site-footer {
  height: auto;
  position:sticky;
  text-align: center;
  margin: 90px 0 16px;
  color: #666;
  a {
    font-weight: 700;
  }
}
.site-footer .footer {
  display:flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}
.site-footer .footer div{
  max-width: 250px;
  align-items: center;

}
.footer-links{
display:flex;
flex-direction: column;
padding:0 90px;

}
.social {
   display:flex;
   flex-direction: column;
   align-items:space-between;
   padding-bottom: 20px;
   justify-content: center;
   min-width: 250px;
}
.social-icons{
  display:flex;

}
.icons{
  padding-left: 10px;
  width: 100%;
}
.icons img{
  width:30px;
  height:30px;
}
.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
one-grid{
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (max-width: 480px) {
  .site-wrapper{
    width:100%;
    padding:15px;
  }

  .miniContent{
    div{
      width: 80%;
    }
  } 
.site-footer{
  margin: 10px auto;
  justify-content: center;
}  
  
.headline{
  font-weight:650;
  font-size:1.3rem;
  padding:5px;
}
  .primary-content {
    font-size: 1rem;
    margin-bottom: 8px;
    overflow:hidden;
    font-weight: 280;
    justify-content: center;
}}
@media only screen 
and (min-width: 768px) {
.two-grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 44px;
}
.befor-footer{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  padding:10px 0;
  justify-content: center;
  align-items: center;
  padding-top:10px;
}


main{
  display: grid;
  grid-template-columns: 60% 40% ;
  //grid-template-columns: auto;
  box-sizing: border-box;
  width:100%;
  .section-a{
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    align-items: center;
    justify-content: center;
    width:100%;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
  }
  .section-b{
    box-sizing: border-box;
    height:auto;
    display: flex;
    padding:0 10px 0 10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
    width:100%;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
  }
}
.grids {
  grid-template-columns: 1fr 1fr;
}}
@media only screen 
and (max-width: 768px) {
  .site-wrapper{
    width:100%;
    padding:15px;
  }
 /* .miniContent{
    div{


    
    }
  }  */
  .grids {
    grid-template-columns: 1fr 1fr ;
  } 
  .befor-footer{
    display:none;
  }
.primary-content {
  font-size: 1.2rem;
  margin-bottom: 20px;
  overflow:hidden;
  font-weight: 400;
  padding:30px;
  justify-content: center;
}}
@media only screen 
  and (max-width: 558px) {
  .grids {
    grid-template-columns: 1fr;

  }}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  } main{
    box-sizing: border-box;
    display:grid;
    column-gap: 15px;
    row-gap: 20px;
    grid-template-columns: 3fr 1fr;
    //grid-template-columns: auto;
    .section-a{
      padding:0 10px  0 10px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
      box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);

    }
    .section-b{
      box-sizing: border-box;
      display:flex;
      margin-top: 60px;
      padding:10 10px 0 10px;
      align-items:flex-start;
      justify-content: center;
      -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75); 
      box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    }
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 64px;
  }
  .one-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 64px;
  }
}
// theme-changer
.theme-changer { 
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}
.subscribe{
  padding-bottom: 20px;
  margin:15px 0;
}
.-contact{
height:auto;
}

.spare-ads{
  display:flex;
  width: 100%;
  height:auto;
  flex-wrap: wrap;
  justify-content: center;
  
}
.spare-ads iframe{
  margin: 8px 8px ;
  width:20%;
}

.section-update{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 5px 10px 5px;
  min-height :300px;
  .section-update-a{
    width:40%;
    min-width: 250px;
    margin: auto;
  }
  .section-update-b{
    min-width: 250px;
    width:40%;
    margin:auto;
  }
 a {
  text-decoration: none;
  }
  .button-link{
    width:100%;
    height:auto;
    padding:10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 22px -10px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 22px -10px rgba(0,0,0,0);
    margin-bottom: 15px;
  }
}
.footer-ads{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  .footer-ads-cont{
        display: flex;
        height: auto;
        padding: 10px;
      div{
        margin: 0 10px 10px 10px;
        height: auto;
        width: auto;
        iframe{
          overflow: hidden;
          
        }
      } 
      /* div:first-child{
          margin-top: 10px;
        }
        */
      } 

}
right-ads{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; 
  width:auto;
  height:auto;
  justify-content: center;
  div{
    padding: 10px 5px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    iframe{
      width: auto;
    }
  }
}
.banners {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  width:100%;
  height:auto;
 
  div{
    padding: 10px 5px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto ;
    border-radius: 10px;
    margin: 38px 10px;
    
  }
}
.download{
  padding: 2px 10px;
  color:white;
  background: green;
  width: auto;
  height: auto;
  font-weight:500;
  font-size:1.6rem;
  align-items:center;
  justify-content:center;
  border-radius:8px;
  h5 {
    margin-left: auto;
    a{  
      text-decoration:none;
      cursor:pointer;
  } 
  }
 .messenger{
 max-width: fit-content;
 }

}
